<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>799939249259-di9d1teucr70uifh6prh1em61vfg7f2v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.799939249259-di9d1teucr70uifh6prh1em61vfg7f2v</string>
	<key>API_KEY</key>
	<string>AIzaSyA74wmF5E1KrfL2UZfaY3Z0qUB8uI-HrbI</string>
	<key>GCM_SENDER_ID</key>
	<string>799939249259</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nathantung.Solo</string>
	<key>PROJECT_ID</key>
	<string>solo-72aa5</string>
	<key>STORAGE_BUCKET</key>
	<string>solo-72aa5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:799939249259:ios:937e1df70aaddb60</string>
	<key>DATABASE_URL</key>
	<string>https://solo-72aa5.firebaseio.com</string>
</dict>
</plist>